nav {
  background: #eee;
  border: 1px solid #bbb;
  width: 300px;
  position: fixed;
  margin-top: 25px;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.5 ease;
  height: 90vh;
  overflow-y: scroll;
}

nav :hover {
  opacity: 1;
  transition: all 0.1 ease;
}

nav p {
  margin-bottom: 5px;
}

nav a {
  font-family: "Jost", sans-serif;
}
